DATABRICKS_SERVER_HOSTNAME= "YOUR_SERVER_HOSTNAME_HERE"
DATABRICKS_HTTP_PATH= "YOUR_HTTP_PATH_HERE"

DATABRICKS_CLIENT_ID= "YOUR_CLIENT_ID_HERE"
DATABRICKS_CLIENT_SECRET= "YOUR_CLIENT_SECRET_HERE"

SECRET_KEY= "YOUR_SECRET_KEY_HERE"
AUTH_ENABLED= true

MALAWI_CATALOG= prd_mega
FACILITIES_SCHEMA= sgpbpi163
RESULTS_SCHEMA= sgpbpi163

QUERY_CACHE_TTL_SECONDS= 300
QUERY_CACHE_MAX_ENTRIES= 256